In [121]:
import numpy as np
import pandas as pd

In [122]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [123]:
movies=movies.merge(credits,on='title')

In [124]:
movies.shape

(4809, 23)

In [125]:
 movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [126]:
movies=movies[['movie_id','title','genres','keywords','overview','cast','crew']]

In [127]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [128]:
movies=movies.dropna(subset=['overview'])

In [129]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [130]:
movies.duplicated().sum()

0

In [131]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [132]:
import json 

def convert(obj):
    obj=json.loads(obj)
    l=[]
    for i in obj:
        l.append(i['name'])
    return l

In [133]:
movies['genres'] = movies['genres'].apply(convert)

In [134]:
movies['keywords']=movies['keywords'].apply(convert)

In [135]:
def convert3(obj):
    obj=json.loads(obj)
    l=[]
    c=0
    for i in obj:
        l.append(i['name'])
        c+=1
        if c==3:
            break
    return l

In [136]:
movies['cast']=movies['cast'].apply(convert3)
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [137]:
def getdirector(obj):
    obj=json.loads(obj)
    l=[]
    for i in obj:
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [138]:
movies['crew']=movies['crew'].apply(getdirector)

In [139]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [140]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [141]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [142]:
movies.head()

,movie_id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [143]:
title=movies[['movie_id','title']]
# title['title']=title['title'].apply(lambda x: x.split())
genres=movies[['movie_id','genres']]
keywords=movies[['movie_id','keywords']]
cast=movies[['movie_id','cast']]
crew=movies[['movie_id','crew']]
overview=movies[['movie_id','overview']]

In [144]:
title

      movie_id                                     title
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4804      9367                               El Mariachi
4805     72766                                 Newlyweds
4806    231617                 Signed, Sealed, Delivered
4807    126186                          Shanghai Calling
4808     25975                         My Date with Drew

[4806 rows x 2 columns]

In [145]:
all(isinstance(x, list) for x in title['title'])

False

In [146]:
genres

      movie_id                                        genres
0        19995  [Action, Adventure, Fantasy, ScienceFiction]
1          285                  [Adventure, Fantasy, Action]
2       206647                    [Action, Adventure, Crime]
3        49026              [Action, Crime, Drama, Thriller]
4        49529           [Action, Adventure, ScienceFiction]
...        ...                                           ...
4804      9367                     [Action, Crime, Thriller]
4805     72766                             [Comedy, Romance]
4806    231617             [Comedy, Drama, Romance, TVMovie]
4807    126186                                            []
4808     25975                                 [Documentary]

[4806 rows x 2 columns]

In [147]:
# title['title']=title['title'].apply(lambda x:" ".join(x))
# title['title']=title['title'].apply(lambda x:x.lower())

genres['genres']=genres['genres'].apply(lambda x:" ".join(x))
genres['genres']=genres['genres'].apply(lambda x:x.lower())

overview['overview']=overview['overview'].apply(lambda x:" ".join(x))
overview['overview']=overview['overview'].apply(lambda x:x.lower())

keywords['keywords']=keywords['keywords'].apply(lambda x:" ".join(x))
keywords['keywords']=keywords['keywords'].apply(lambda x:x.lower())

cast['cast']=cast['cast'].apply(lambda x:" ".join(x))
cast['cast']=cast['cast'].apply(lambda x:x.lower())

crew['crew']=crew['crew'].apply(lambda x:" ".join(x))
crew['crew']=crew['crew'].apply(lambda x:x.lower())

C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres']=genres['genres'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres']=genres['genres'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overview['overview']=overview['overview'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overview['overview']=overview['overview'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords['keywords']=keywords['keywords'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords['keywords']=keywords['keywords'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast['cast']=cast['cast'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast['cast']=cast['cast'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['crew']=crew['crew'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\4035603206.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['crew']=crew['crew'].apply(lambda x:x.lower())

In [148]:
overview

      movie_id                                           overview
0        19995  in the 22nd century, a paraplegic marine is di...
1          285  captain barbossa, long believed to be dead, ha...
2       206647  a cryptic message from bond’s past sends him o...
3        49026  following the death of district attorney harve...
4        49529  john carter is a war-weary, former military ca...
...        ...                                                ...
4804      9367  el mariachi just wants to play his guitar and ...
4805     72766  a newlywed couple's honeymoon is upended by th...
4806    231617  "signed, sealed, delivered" introduces a dedic...
4807    126186  when ambitious new york attorney sam is sent t...
4808     25975  ever since the second grade when he first saw ...

[4806 rows x 2 columns]

In [149]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [150]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [151]:
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    string=" ".join(l)
    return string

In [152]:
# title['title']=title['title'].apply(stem)

genres['genres']=genres['genres'].apply(stem)

overview['overview']=overview['overview'].apply(stem)

keywords['keywords']=keywords['keywords'].apply(stem)

cast['cast']=cast['cast'].apply(stem)

crew['crew']=crew['crew'].apply(stem)

C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\18861187.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres']=genres['genres'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\18861187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overview['overview']=overview['overview'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\18861187.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords['keywords']=keywords['keywords'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\18861187.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast['cast']=cast['cast'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_7056\18861187.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['crew']=crew['crew'].apply(stem)

In [153]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\thomas\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

In [154]:
from sklearn.feature_extraction.text import CountVectorizer

In [155]:
# cv_title=CountVectorizer(stop_words='english')
# title_vectors=cv_title.fit_transform(title['title']).toarray()

cv_genres=CountVectorizer(stop_words='english')
genres_vectors=cv_genres.fit_transform(genres['genres']).toarray()

cv_keywords=CountVectorizer(stop_words='english')
keywords_vectors=cv_keywords.fit_transform(keywords['keywords']).toarray()

cv_overview=CountVectorizer(stop_words='english')
overview_vectors=cv_overview.fit_transform(overview['overview']).toarray()

cv_cast=CountVectorizer(stop_words='english')
cast_vectors=cv_cast.fit_transform(cast['cast']).toarray()

cv_crew=CountVectorizer(stop_words='english')
crew_vectors=cv_crew.fit_transform(crew['crew']).toarray()

In [156]:
# cv_title.get_feature_names_out().tolist()

In [157]:
from sklearn.metrics.pairwise import cosine_similarity

In [158]:
# title_similarity=cosine_similarity(title_vectors)
genres_similarity=cosine_similarity(genres_vectors)
keywords_similarity=cosine_similarity(keywords_vectors)
overview_similarity=cosine_similarity(overview_vectors)
cast_similarity=cosine_similarity(cast_vectors)
crew_similarity=cosine_similarity(crew_vectors)

In [159]:
similarity=(
    # title_similarity*5 +
    genres_similarity*4 +
    keywords_similarity*3+
    overview_similarity*3+
    cast_similarity+
    crew_similarity *2
)

In [160]:
similarity

array([[13.        ,  3.46410162,  2.30940108, ...,  0.        ,
         0.        ,  0.        ],
       [ 3.46410162, 13.        ,  2.66666667, ...,  0.10825318,
         0.        ,  0.11572751],
       [ 2.30940108,  2.66666667, 13.        , ...,  0.08660254,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.10825318,  0.08660254, ..., 13.        ,
         0.11895774,  0.06681531],
       [ 0.        ,  0.        ,  0.        , ...,  0.11895774,
         6.        ,  0.25434234],
       [ 0.        ,  0.11572751,  0.        , ...,  0.06681531,
         0.25434234, 13.        ]])

In [161]:
movies=movies[['movie_id','title']]

In [162]:
def recommend(movie):
    movie_index=movies[movies['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print (movies.iloc[i[0]].title)

In [168]:
recommend('Superman')

Superman Returns
Superman II
Superman IV: The Quest for Peace
Superman III
Timeline

In [164]:
import pickle
pickle.dump(movies,open('movies.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))