In [145]:
import numpy as np
import pandas as pd

In [146]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [147]:
movies=movies.merge(credits,on='title')

In [148]:
movies.shape

(4809, 23)

In [149]:
 movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [150]:
movies=movies[['movie_id','title','genres','keywords','overview','cast','crew']]

In [151]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [152]:
movies=movies.dropna(subset=['overview'])

In [153]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [154]:
movies.duplicated().sum()

0

In [155]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [156]:
import json 

def convert(obj):
    obj=json.loads(obj)
    l=[]
    for i in obj:
        l.append(i['name'])
    return l

In [157]:
movies['genres'] = movies['genres'].apply(convert)

In [158]:
movies['keywords']=movies['keywords'].apply(convert)

In [159]:
def convert3(obj):
    obj=json.loads(obj)
    l=[]
    c=0
    for i in obj:
        l.append(i['name'])
        c+=1
        if c==3:
            break
    return l

In [160]:
movies['cast']=movies['cast'].apply(convert3)
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [161]:
def getdirector(obj):
    obj=json.loads(obj)
    l=[]
    for i in obj:
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [162]:
movies['crew']=movies['crew'].apply(getdirector)

In [163]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [164]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [165]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [166]:
movies.head()

,movie_id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [167]:
title=movies[['movie_id','title']]
title['title']=title['title'].apply(lambda x: x.split())
genres=movies[['movie_id','genres']]
keywords=movies[['movie_id','keywords']]
cast=movies[['movie_id','cast']]
crew=movies[['movie_id','crew']]
overview=movies[['movie_id','overview']]

C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\3352444729.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title['title']=title['title'].apply(lambda x: x.split())

In [168]:
title

      movie_id                                             title
0        19995                                          [Avatar]
1          285  [Pirates, of, the, Caribbean:, At, World's, End]
2       206647                                         [Spectre]
3        49026                        [The, Dark, Knight, Rises]
4        49529                                    [John, Carter]
...        ...                                               ...
4804      9367                                    [El, Mariachi]
4805     72766                                       [Newlyweds]
4806    231617                     [Signed,, Sealed,, Delivered]
4807    126186                               [Shanghai, Calling]
4808     25975                            [My, Date, with, Drew]

[4806 rows x 2 columns]

In [169]:
all(isinstance(x, list) for x in title['title'])

True

In [170]:
genres

      movie_id                                        genres
0        19995  [Action, Adventure, Fantasy, ScienceFiction]
1          285                  [Adventure, Fantasy, Action]
2       206647                    [Action, Adventure, Crime]
3        49026              [Action, Crime, Drama, Thriller]
4        49529           [Action, Adventure, ScienceFiction]
...        ...                                           ...
4804      9367                     [Action, Crime, Thriller]
4805     72766                             [Comedy, Romance]
4806    231617             [Comedy, Drama, Romance, TVMovie]
4807    126186                                            []
4808     25975                                 [Documentary]

[4806 rows x 2 columns]

In [171]:
title['title']=title['title'].apply(lambda x:" ".join(x))
title['title']=title['title'].apply(lambda x:x.lower())

genres['genres']=genres['genres'].apply(lambda x:" ".join(x))
genres['genres']=genres['genres'].apply(lambda x:x.lower())

overview['overview']=overview['overview'].apply(lambda x:" ".join(x))
overview['overview']=overview['overview'].apply(lambda x:x.lower())

keywords['keywords']=keywords['keywords'].apply(lambda x:" ".join(x))
keywords['keywords']=keywords['keywords'].apply(lambda x:x.lower())

cast['cast']=cast['cast'].apply(lambda x:" ".join(x))
cast['cast']=cast['cast'].apply(lambda x:x.lower())

crew['crew']=crew['crew'].apply(lambda x:" ".join(x))
crew['crew']=crew['crew'].apply(lambda x:x.lower())

C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title['title']=title['title'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title['title']=title['title'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres']=genres['genres'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres']=genres['genres'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overview['overview']=overview['overview'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overview['overview']=overview['overview'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords['keywords']=keywords['keywords'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords['keywords']=keywords['keywords'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast['cast']=cast['cast'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast['cast']=cast['cast'].apply(lambda x:x.lower())
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['crew']=crew['crew'].apply(lambda x:" ".join(x))
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\2401581429.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['crew']=crew['crew'].apply(lambda x:x.lower())

In [178]:
overview

      movie_id                                           overview
0        19995  in the 22nd century, a paraplegic marine is di...
1          285  captain barbossa, long believed to be dead, ha...
2       206647  a cryptic message from bond’s past sends him o...
3        49026  following the death of district attorney harve...
4        49529  john carter is a war-weary, former military ca...
...        ...                                                ...
4804      9367  el mariachi just wants to play his guitar and ...
4805     72766  a newlywed couple's honeymoon is upended by th...
4806    231617  "signed, sealed, delivered" introduces a dedic...
4807    126186  when ambitious new york attorney sam is sent t...
4808     25975  ever since the second grade when he first saw ...

[4806 rows x 2 columns]

In [179]:
!pip install nltk

Collecting nltk
  Using cached nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Using cached click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Collecting joblib (from nltk)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Using cached regex-2024.11.6-cp312-cp312-win_amd64.whl.metadata (41 kB)
Collecting tqdm (from nltk)
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting colorama (from click->nltk)
  Using cached colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Using cached nltk-3.9.1-py3-none-any.whl (1.5 MB)
Using cached regex-2024.11.6-cp312-cp312-win_amd64.whl (273 kB)
Using cached click-8.1.8-py3-none-any.whl (98 kB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Using cached colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Installing collected packages: regex, joblib, colorama, tqdm, click, nltk
Successfully installed click-8.1.8 colorama-0.4.6 joblib-1.4.2 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [180]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [182]:
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    string=" ".join(l)
    return string

In [184]:
title['title']=title['title'].apply(stem)

genres['genres']=genres['genres'].apply(stem)

overview['overview']=overview['overview'].apply(stem)

keywords['keywords']=keywords['keywords'].apply(stem)

cast['cast']=cast['cast'].apply(stem)

crew['crew']=crew['crew'].apply(stem)

C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\560432859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title['title']=title['title'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\560432859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres']=genres['genres'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\560432859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overview['overview']=overview['overview'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\560432859.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords['keywords']=keywords['keywords'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\560432859.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast['cast']=cast['cast'].apply(stem)
C:\Users\thomas\AppData\Local\Temp\ipykernel_19316\560432859.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['crew']=crew['crew'].apply(stem)

In [188]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\aaaaaaa\ml\weighted_movie_recommendation_system\venv\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\aaaaaaa\ml\weighted_movie_recommendation_system\venv\lib\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.6.0 in c:\aaaaaaa\ml\weighted_movie_recommendation_system\venv\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\aaaaaaa\ml\weighted_movie_recommendation_system\venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\aaaaaaa\ml\weighted_movie_recommendation_system\venv\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [190]:
from sklearn.feature_extraction.text import CountVectorizer

In [191]:
cv_title=CountVectorizer(stop_words='english')
title_vectors=cv_title.fit_transform(title['title']).toarray()

cv_genres=CountVectorizer(stop_words='english')
genres_vectors=cv_genres.fit_transform(genres['genres']).toarray()

cv_keywords=CountVectorizer(stop_words='english')
keywords_vectors=cv_keywords.fit_transform(keywords['keywords']).toarray()

cv_overview=CountVectorizer(stop_words='english')
overview_vectors=cv_overview.fit_transform(overview['overview']).toarray()

cv_cast=CountVectorizer(stop_words='english')
cast_vectors=cv_cast.fit_transform(cast['cast']).toarray()

cv_crew=CountVectorizer(stop_words='english')
crew_vectors=cv_crew.fit_transform(crew['crew']).toarray()

In [193]:
cv_title.get_feature_names_out().tolist()

['000',
 '10',
 '1000',
 '102',
 '10th',
 '11',
 '12',
 '127',
 '13',
 '13th',
 '14',
 '1408',
 '15',
 '16',
 '17',
 '1776',
 '18',
 '1838',
 '19',
 '1911',
 '1941',
 '1974',
 '1982',
 '1984',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2012',
 '2016',
 '2046',
 '21',
 '22',
 '23',
 '24',
 '25th',
 '27',
 '28',
 '2½',
 '30',
 '300',
 '3000',
 '33',
 '33⅓',
 '39',
 '3d',
 '40',
 '41',
 '42',
 '42nd',
 '43',
 '44',
 '46',
 '47',
 '49',
 '50',
 '500',
 '51',
 '51st',
 '54',
 '55',
 '571',
 '5th',
 '60',
 '66',
 '6th',
 '70',
 '72',
 '786',
 '80',
 '81',
 '88',
 '8mm',
 '90',
 '911',
 '93',
 'abandon',
 'abbi',
 'abcd',
 'abduct',
 'aberdeen',
 'abid',
 'abraham',
 'absentia',
 'absolut',
 'abyss',
 'academi',
 'academy',
 'accident',
 'ace',
 'act',
 'action',
 'activ',
 'activity',
 'actual',
 'adalin',
 'adam',
 'adaptation',
 'addam',
 'addict',
 'adjust',
 'admiss',
 'ado',
 'ador',
 'adult',
 'adulter',
 'adventur',
 'adventureland',
 'adventurer',
 'advoc',
 'affair',
 'affect',
 'afraid',
 'africa',
 'afterlif',
 'age',
 'agent',
 'agora',
 'agreement',
 'aim',
 'aime',
 'air',
 'airbend',
 'airborn',
 'airlift',
 'airplane',
 'ajami',
 'akeelah',
 'akira',
 'alabama',
 'aladdin',
 'alamo',
 'alan',
 'alaska',
 'alatrist',
 'albert',
 'albino',
 'alcatraz',
 'aleichem',
 'alex',
 'alexand',
 'alexander',
 'alfa',
 'alfi',
 'algerian',
 'ali',
 'alic',
 'alien',
 'alien³',
 'aliv',
 'allegi',
 'alleluia',
 'alley',
 'allig',
 'almanac',
 'almighti',
 'aloft',
 'aloha',
 'alon',
 'alpha',
 'altar',
 'alto',
 'alvida',
 'alvin',
 'alway',
 'amadeu',
 'amaro',
 'amaz',
 'ambit',
 'amen',
 'america',
 'american',
 'ami',
 'amidst',
 'amigo',
 'amistad',
 'amityvil',
 'amnesiac',
 'amor',
 'amour',
 'améli',
 'anaconda',
 'anacondas',
 'analyz',
 'anarchi',
 'anastasia',
 'anatomi',
 'anchorman',
 'anderson',
 'andrea',
 'andromeda',
 'angel',
 'angela',
 'angels',
 'anger',
 'angri',
 'ani',
 'anim',
 'ann',
 'anna',
 'annabel',
 'anni',
 'annihil',
 'anomalisa',
 'anonym',
 'anoth',
 'ant',
 'antarct',
 'antarctica',
 'antibirth',
 'antitrust',
 'antivir',
 'antoinett',
 'antwon',
 'antz',
 'anxieti',
 'anyth',
 'anywher',
 'apart',
 'ape',
 'apocalyps',
 'apocalypto',
 'apollo',
 'apostl',
 'appaloosa',
 'apparit',
 'appreci',
 'apprentic',
 'april',
 'aqua',
 'aquamarin',
 'aquat',
 'arabia',
 'arachnophobia',
 'ararat',
 'arbitrag',
 'arbu',
 'arc',
 'archaeolog',
 'area',
 'argo',
 'ark',
 'arlington',
 'arm',
 'armageddon',
 'armi',
 'armor',
 'arn',
 'arnold',
 'arous',
 'arrow',
 'art',
 'arthur',
 'artifici',
 'artist',
 'ascend',
 'ash',
 'ask',
 'ass',
 'assassin',
 'assault',
 'assist',
 'asterix',
 'astro',
 'astronaut',
 'atl',
 'atla',
 'atlanti',
 'atlantis',
 'aton',
 'attach',
 'attack',
 'attacks',
 'attic',
 'attract',
 'august',
 'austin',
 'australia',
 'auto',
 'automata',
 'autumn',
 'avatar',
 'aveng',
 'avengers',
 'aviat',
 'avp',
 'awak',
 'awaken',
 'away',
 'awkward',
 'awol',
 'ayurveda',
 'azkaban',
 'b13',
 'baadasssss',
 'baader',
 'baahubali',
 'babe',
 'babel',
 'babi',
 'baby',
 'babylon',
 'bachelorett',
 'backmask',
 'backyard',
 'bad',
 'bafana',
 'bag',
 'baggag',
 'bagger',
 'baghead',
 'bait',
 'bak',
 'bake',
 'baker',
 'balboa',
 'ball',
 'ballad',
 'ballistic',
 'balloon',
 'ballroom',
 'bamba',
 'bambi',
 'bamboozl',
 'banana',
 'band',
 'bandida',
 'bandit',
 'bandslam',
 'bang',
 'banger',
 'bangkok',
 'bank',
 'banshe',
 'barbarella',
 'barbarian',
 'barbecu',
 'barbershop',
 'barcelona',
 'barley',
 'barney',
 'barnyard',
 'barrel',
 'barri',
 'bartlett',
 'basanti',
 'bashir',
 'basic',
 'basket',
 'basketbal',
 'basquiat',
 'basterd',
 'bat',
 'batalla',
 'batch',
 'bath',
 'bathory',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'battleship',
 'bay',
 'bayou',
 'beach',
 'bean',
 'bear',
 'beast',
 'beastli',
 'beastmast',
 'beat',
 'beatdown',
 'beauti',
 'beaver',
 'beavi',
 'becaus',
 'beckham',
 'becom',
 'bedazzl',
 'bedroom',
 'bedtim',
 'bee',
 'beer',
 'beerfest',
 'beethoven',
 'beetlejuic',
 'beezu',
 'befor',
 'begin',
 'beginn',
 'beginner',
 'behavior',
 'behold',
 'believ',
 'believe',
 'bell',
 'bella',
 'bellevil',
 'belov',
 'ben',
 'benchwarm',
 'bend',
 'beneath',
 'benefit',
 'benghazi',
 'benjamin',
 'benji',
 'beowulf',
 'berni',
 'best',
 'bet',
 'beth',
 'betray',
 'better',
 'betti',
 'beverli',
 'bfg',
 'bhai',
 'bhi',
 'bible',
 'bicentenni',
 'bieber',
 'big',
 'bigalow',
 'bigger',
 'bilko',
 'billi',
 'billion',
 'birch',
 'bird',
 'birdman',
 'birth',
 'birthday',
 'biuti',
 'bizarr',
 'black',
 'blackhat',
 'blackthorn',
 'blade',
 'blair',
 'blank',
 'blart',
 'blast',
 'blaze',
 'bled',
 'bleed',
 'blend',
 'bless',
 'blind',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodrayn',
 'bloodsport',
 'bloom',
 'blow',
 'blue',
 'blueberri',
 'board',
 'boat',
 'bob',
 'bobbi',
 'bodi',
 'bodyguard',
 'bogu',
 'boiler',
 'boleyn',
 'bolt',
 'bomb',
 'bon',
 'bone',
 'bonner',
 'boogeyman',
 'boogi',
 'book',
 'boom',
 'boomerang',
 'boondock',
 'boot',
 'booth',
 'borat',
 'border',
 'born',
 'borrow',
 'boss',
 'bottl',
 'bought',
 'boulevard',
 'bounc',
 'bound',
 'bounti',
 'bourn',
 'bowfing',
 'bowl',
 'box',
 'boxtrol',
 'boy',
 'boyhood',
 'boynton',
 'boyz',
 'brain',
 'bran',
 'brand',
 'brasco',
 'brass',
 'brave',
 'braveheart',
 'brazil',
 'break',
 'breakdown',
 'breaker',
 'breakfast',
 'breakin',
 'brick',
 'brickumentari',
 'bride',
 'bridesmaid',
 'bridg',
 'bridget',
 'brief',
 'brigad',
 'brigham',
 'bright',
 'brighton',
 'bring',
 'broadway',
 'brockovich',
 'brokeback',
 'brokedown',
 'broken',
 'bronco',
 'bronson',
 'bronx',
 'brooklyn',
 'brooks',
 'broom',
 'bros',
 'brother',
 'brotherhood',
 'brotherli',
 'brown',
 'bruce',
 'bruge',
 'brüno',
 'bu',
 'bubba',
 'bubbl',
 'buck',
 'bucket',
 'bucki',
 'bud',
 'budapest',
 'buddi',
 'buffalo',
 'bug',
 'bull',
 'bullet',
 'bulletproof',
 'bulli',
 'bullwinkl',
 'bulworth',
 'bunch',
 'bunni',
 'bureau',
 'burgundi',
 'buri',
 'burial',
 'burlesqu',
 'burn',
 'burnt',
 'burt',
 'busi',
 'butch',
 'butler',
 'butt',
 'butterfli',
 'button',
 'buyer',
 'bye',
 'bélier',
 'ca',
 'cabaret',
 'cabin',
 'cabinet',
 'cabl',
 'cadavra',
 'caddy',
 'caddyshack',
 'cadillac',
 'caesar',
 'cain',
 'cake',
 'californian',
 'callar',
 'came',
 'camelot',
 'camp',
 'campaign',
 'campu',
 'cancun',
 'candi',
 'candid',
 'candl',
 'cannib',
 'cannon',
 'canyon',
 'cape',
 'capitalism',
 'capot',
 'capricorn',
 'captain',
 'captiv',
 'car',
 'caramel',
 'caravan',
 'card',
 'care',
 'cargo',
 'caribbean',
 'carla',
 'carlo',
 'carnag',
 'carniv',
 'carol',
 'carousel',
 'carri',
 'carrier',
 'carter',
 'casa',
 'casablanca',
 'case',
 'cash',
 'casino',
 'casper',
 'caspian',
 'cassidi',
 'cast',
 'castl',
 'cat',
 'catastroph',
 'catch',
 'catfish',
 'catwoman',
 'cave',
 'caveman',
 'cavit',
 'cecil',
 'cedar',
 'celebr',
 'celest',
 'celestin',
 'cell',
 'cellular',
 'censor',
 'center',
 'central',
 'centuri',
 'centurion',
 'certifi',
 'chain',
 'chainsaw',
 'chair',
 'chairman',
 'chamber',
 'chambermaid',
 'champ',
 'champion',
 'chanc',
 'chanel',
 'chang',
 'change',
 'changel',
 'changer',
 'chappelle',
 'chappi',
 'chapter',
 'charact',
 'charg',
 'chariot',
 'chariti',
 'charli',
 'charlie',
 'charlotte',
 'chase',
 'chaser',
 'cheap',
 'cheaper',
 'checkmat',
 'cheerlead',
 'chees',
 'cheri',
 'chernobyl',
 'chest',
 'chicago',
 'chick',
 'chicken',
 'chihuahua',
 'child',
 'childless',
 'children',
 'chill',
 'chimp',
 'china',
 'chip',
 'chipmunk',
 'chipmunks',
 'chipwreck',
 'chloe',
 'chocol',
 'chocolat',
 'chocolate',
 'choke',
 'cholera',
 'choos',
 'choru',
 'christ',
 'christma',
 'christmas',
 'chromit',
 'chronicl',
 'chuck',
 'chucki',
 'chumscrubb',
 'chun',
 'church',
 'cigarett',
 'cimarron',
 'cinco',
 'cinderella',
 'circl',
 'circumst',
 'cirqu',
 'citi',
 'citizen',
 'citron',
 'city',
 'civil',
 'cj7',
 'claim',
 'clan',
 'clash',
 'class',
 'claus',
 'clay',
 'clayton',
 'clean',
 'cleaner',
 'clear',
 'cleopatra',
 'clerk',
 'click',
 'client',
 'cliff',
 'cliffhang',
 'clinic',
 'clockstopp',
 'clockwatch',
 'clone',
 'close',
 'closer',
 'cloud',
 'cloudi',
 'cloverfield',
 'club',
 'clueless',
 'coach',
 'coal',
 'cobbler',
 'cobra',
 'cock',
 'coco',
 'code',
 'codi',
 'coffe',
 'cold',
 'collater',
 'collect',
 'collector',
 'colleg',
 'collin',
 'collinwood',
 'collis',
 'colombiana',
 'colon',
 'color',
 'columbin',
 'come',
 'comedi',
 'command',
 'commander',
 'commando',
 'commit',
 'compadr',
 'compani',
 'companion',
 'compass',
 'complex',
 'complianc',
 'complic',
 'compton',
 'conan',
 'concert',
 'concuss',
 'confess',
 'confid',
 'confidenti',
 'conformist',
 'confront',
 'confus',
 'congeni',
 'congo',
 'conjur',
 'connect',
 'connecticut',
 'conni',
 'conquest',
 'consider',
 'conspir',
 'conspiraci',
 'constant',
 'contact',
 'contagion',
 'contain',
 'contend',
 'continent',
 'continu',
 'contraband',
 'control',
 'conundrum',
 'convers',
 'cookout',
 'cool',
 'cooler',
 'cooper',
 'cop',
 'copi',
 'copycat',
 'coralin',
 'core',
 'corelli',
 'coriolanu',
 'corki',
 'corps',
 'corridor',
 'corruptor',
 'cortez',
 'cosecha',
 'cosmo',
 'cost',
 'cottag',
 'cotton',
 'counselor',
 'count',
 'countess',
 'counti',
 'countri',
 'coupl',
 'courag',
 'cours',
 'cousin',
 'coven',
 'coward',
 'cowboy',
 'cox',
 'coyot',
 'crab',
 'cradl',
 'craft',
 'crank',
 'crash',
 'crazi',
 'crazy',
 'creativ',
 'creatur',
 'creed',
 'creek',
 'creeper',
 'creepshow',
 'crescent',
 'crew',
 'cri',
 'crime',
 'crimin',
 'crimson',
 'crisi',
 'cristiada',
 'cristina',
 'cristo',
 'critic',
 'crocodil',
 'croft',
 'crood',
 'crook',
 'crooklyn',
 'cross',
 'crossov',
 'crossroad',
 'crouch',
 'crow',
 'crowd',
 'crown',
 'crowsnest',
 'cruel',
 'cruelti',
 'cruis',
 'crusad',
 'crush',
 'cry_wolf',
 'crypt',
 'crystal',
 'cthulhu',
 'cube',
 'cuckoo',
 'cultur',
 'cup',
 'cupboard',
 'cure',
 'curiou',
 'curs',
 'curtain',
 'curv',
 'cut',
 'cutoff',
 'cutthroat',
 'cypher',
 'cyru',
 'da',
 'dad',
 'daddi',
 'daddy',
 'dae',
 'dagenham',
 'dagger',
 'dahlia',
 'daisi',
 'dale',
 'dalla',
 'dalmatian',
 'damag',
 'dame',
 'damn',
 'damnat',
 'damsel',
 'danc',
 'dance',
 'dancer',
 'dancin',
 'danger',
 'danni',
 'dante',
 'dare',
 'dark',
 'darkest',
 'darkli',
 'darko',
 'darkroom',
 'darl',
 'darryl',
 'date',
 'daughter',
 'dave',
 'davi',
 'david',
 'davidson',
 'dawn',
 'day',
 'daybreak',
 'daylight',
 'daysast',
 'daze',
 'dead',
 'deadfal',
 'deadli',
 'deadlin',
 'deadpool',
 'deaki',
 'deal',
 'dealer',
 'dear',
 'dearest',
 'death',
 'debat',
 'debt',
 'deceas',
 'decept',
 'decid',
 'decis',
 'deck',
 'deconstruct',
 'decoy',
 'deed',
 'deedl',
 'deep',
 'deer',
 'deewani',
 'def',
 'defendor',
 'definitely',
 ...]

In [194]:
from sklearn.metrics.pairwise import cosine_similarity

In [195]:
title_similarity=cosine_similarity(title_vectors)
genres_similarity=cosine_similarity(genres_vectors)
keywords_similarity=cosine_similarity(keywords_vectors)
overview_similarity=cosine_similarity(overview_vectors)
cast_similarity=cosine_similarity(cast_vectors)
crew_similarity=cosine_similarity(crew_vectors)

In [200]:
title

      movie_id                                  title
0        19995                                 avatar
1          285  pirat of the caribbean: at world' end
2       206647                                 spectr
3        49026                   the dark knight rise
4        49529                            john carter
...        ...                                    ...
4804      9367                            el mariachi
4805     72766                                 newlyw
4806    231617                  signed, sealed, deliv
4807    126186                          shanghai call
4808     25975                      my date with drew

[4806 rows x 2 columns]